@tailwind base;
@tailwind components;
@tailwind utilities;

svelte-virtual-list-viewport::-webkit-scrollbar,
.no-scroll-bar::-webkit-scrollbar {
	display: none;
}

svelte-virtual-list-viewport,
.no-scroll-bar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

.routes-filter-grid {
	grid-template-rows: max-content 1fr;
	justify-content: stretch;
}

.stop-list-grid {
	grid-template-rows: repeat(auto-fit, minmax(min-content, 24px));
}

.route-stop-list-grid {
	grid-template-rows: repeat(auto-fit, 56px);
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

[style*='--tag'] {
	view-transition-name: var(--tag);
	animation-duration: 300ms;
	animation-timing-function: ease-out;
}
