@tailwind base;
@tailwind components;
@tailwind utilities;

svelte-virtual-list-viewport::-webkit-scrollbar,
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

svelte-virtual-list-viewport,
.no-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.routes-filter-grid {
  grid-template-rows: max-content 1fr;
}

.stop-list-grid {
  grid-template-rows: repeat(auto-fit, 24px);
}

.route-stop-list-grid {
  grid-template-rows: repeat(auto-fit, 56px);
}

